.app-container {
  display: flex;
}


.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa; 
}

.dashboard-title {
  margin-bottom: 20px;
}

.charts-container {
  display: flex;
  justify-content: space-between;
}

.chart-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background: white; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
